
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap");

@import "tailwindcss";

@theme {
  --color-main: #020031;
  --color-hover: #6C757D;
  --color-body: #F8FAFC;
  --color-card: #EDEAE0;
}
